body {
  background-color: #000;
  padding: 20px;
  margin: 0;
}

.first,
.second,
.main {
  border: 1px solid #e75551;
  box-sizing: border-box;
  padding: 10px;
}

.first {
  width: 350px;
  background-color: #308dc0;
  margin-bottom: 40px;
}

.second {
  background-color: #ffa500;
}

.main {
  background-color: #ddd;
}
